/* Resume Page Styles */

#resume {
    max-width: 900px;
    margin: 2rem auto;
    padding: 1rem;
}

/* Title */
h2 {
    text-align: center;
    font-size: 2.5rem;
    color: #4757ff;
    margin-bottom: 1rem;
}

/* Resume Summary */
.resume-summary {
    color: #333;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 2rem;
}

body.dark-mode .resume-summary {
    color: #ccc; /* Light text for paragraph in dark mode */
}

/* Resume Sections */
.resume-section {
    margin-bottom: 2rem;
}

.resume-section h3 {
    font-size: 1.8rem;
    color: #4757ff;
    margin-bottom: 1rem;
}

/* Resume Items */
.resume-item {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
}

/* Dark mode styles for resume items */
body.dark-mode .resume-item {
    background-color: #333; /* Dark background for items */
    color: #f4f4f4; /* Light text for items */
}

.resume-item h4 {
    font-size: 1.6rem;
    color: #333;
    margin-bottom: 0.5rem;
}

/* Dark mode styles for resume item headers */
body.dark-mode .resume-item h4 {
    color: #ffffff; /* Light text for item headers */
}

.resume-item h5 {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 1rem;
}

/* Dark mode styles for resume item sub-headers */
body.dark-mode .resume-item h5 {
    color: #aaa; /* Lighter text for sub-headers */
}

.resume-item b {
    color: #333;
}

body.dark-mode .resume-item b {
    color: #ccc;
}

.resume-item p {
    font-size: 1rem;
    color: #666;
}

/* Dark mode styles for resume item text */
body.dark-mode .resume-item p {
    color: #ccc; /* Light text for item paragraphs */
}

/* Contact Information */
.contact-info {
    list-style: none;
    padding-left: 0;
    margin-top: 1rem;
}

/* Dark mode styles for contact information */
body.dark-mode .contact-info {
    color: #f4f4f4; /* Light text for dark mode */
}

.contact-info li {
    font-size: 1rem;
    color: #555;
}

/* Dark mode styles for contact info list items */
body.dark-mode .contact-info li {
    color: #ccc; /* Light color for items in dark mode */
}

.contact-info a {
    color: #4757ff;
    text-decoration: none;
}

/* Dark mode styles for contact info links */
body.dark-mode .contact-info a {
    color: #7c87ff; /* Lighter link color for dark mode */
}

.contact-info a:hover {
    text-decoration: underline;
}